---
const {title, paragraph} = Astro.props;
---
<section
    class="container section-padding bg-dark-alt"
    style="border-radius: 12px; text-align: center; margin-bottom: 80px;">
    <h2>{title}</h2>
    <p style="margin-bottom: 30px; color: #aaa;">
        {paragraph}
    </p>
</section>