<footer class="footer">
    <div class="container text-center">
        <span class="container">
        <a href="https://calendar.app.google/4occ12N5XGe6aqYf8" class="btn-primary">Agendar reunión de 15/30 min.</a>
        </span>
        <p>Slots Próximo Mes: <strong>Solo 3 disponibles</strong></p>
        <div class="contact-box">
            <a href="mailto:ventas@bgm-solutions.cl"><i class="fas fa-envelope"></i> ventas@bgm-solutions.cl</a>
            <a href="https://linkedin.com/in/brianguzman" target="_blank"><i class="fab fa-linkedin"></i>
                /in/brianguzman</a>
        </div>
    </div>
</footer>
