<header class="hero">
    <div class="container hero-content">
        <span class="brand">BGM - SOLUTIONS</span>
        <h1>
            Tu equipo sabe que algo falla, pero <br />¿cuánto te está costando?
        </h1>
        <p class="hero-subtitle">
            Las Pymes chilenas pierden entre 40-100MM/año en sus <strong
                >departamentos de desarrollo de software y tecnología</strong
            > por estos cuellos de botella. Es momento de dejar de apagar incendios
            y empezar a innovar.
        </p>
        <div class="hero-cta">
            <a
                href="https://calendar.app.google/4occ12N5XGe6aqYf8"
                class="btn-primary">Agendar reunión de 15/30 min.</a
            >
        </div>
    </div>
</header>
