<section class="container section-padding">
    <h2 class="section-title text-center">Tu inversión y próximos pasos:</h2>
    <div class="pricing-table-container">
        <table class="pricing-table">
            <thead>
            <tr>
                <th>Cliente</th>

                <th>Precio Ajustado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Pyme pequeña</td>
                <td>5MM CLP</td>
            </tr>
            <tr>
                <td>Mediana</td>
                <td>8MM CLP</td>
            </tr>
            <tr>
                <td>Enterprise</td>
                <td>12MM+ CLP</td>
            </tr>
            </tbody>
        </table>
        <div class="pricing-info">
            <p><i class="fas fa-info-circle"></i> Todo incluido (12h expertas)</p>
            <p><i class="fas fa-file-invoice-dollar"></i> Exento de IVA</p>
            <p><i class="fas fa-handshake"></i> Pago: 50% inicio, 50% entrega</p>
        </div>
    </div>
</section>
